<div class="row">
  <div class="col-sm-12">
    <div class="panel panel-primary">
      <div class="panel-heading">Expenses</div>
      <div class="panel-body">
        <div id="expenses"></div>
      </div>
    </div>
  </div>
</div>
